In [3]:
import pandas as pd
import os

In [13]:
dossier= 'dpt_2000_2021_csv'

list_df= []
for fichier in os.listdir(dossier):
    if fichier.endswith('.csv'):
        list_df.append(os.path.join(dossier, fichier))
df=pd.read_csv(list_df[0],sep=';')
for i in range(1, len(list_df)):
    new_df = pd.read_csv(list_df[i],sep=';')
    df= pd.concat([df,new_df])
df.reset_index(drop=True, inplace=True)
df.to_csv("merge_fille.csv", index=False,sep=";")

In [11]:
df3=pd.read_csv("merge_fille.csv", sep=";")

C:\Users\jorda\AppData\Local\Temp\ipykernel_21240\2345523162.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df3=pd.read_csv("merge_fille.csv", sep=";")

In [12]:
df3.head()

   sexe        preusuel annais dpt  nombre
0     1  _PRENOMS_RARES   2000   1      30
1     1  _PRENOMS_RARES   2001   1      60
2     1  _PRENOMS_RARES   2002   1      64
3     1  _PRENOMS_RARES   2003   1      56
4     1  _PRENOMS_RARES   2004   1      56

In [38]:
df3.drop(df3[df3["annais"] == "XXXX"].index, inplace=True) 
df3.drop(df3[df3["dpt"] == "XX"].index, inplace=True)

In [39]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128493 entries, 0 to 1128492
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   sexe      1128493 non-null  int64
 1   preusuel  1128493 non-null  object
 2   annais    1128493 non-null  object
 3   dpt       1128493 non-null  object
 4   nombre    1128493 non-null  int64
dtypes: int64(2), object(3)
memory usage: 43.0+ MB

In [41]:
df3.to_csv("merge_fille2.csv", index=False,sep=";", mode='w')

In [42]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128493 entries, 0 to 1128492
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   sexe      1128493 non-null  int64
 1   preusuel  1128493 non-null  object
 2   annais    1128493 non-null  object
 3   dpt       1128493 non-null  object
 4   nombre    1128493 non-null  int64
dtypes: int64(2), object(3)
memory usage: 43.0+ MB